.coaches
  padding-bottom: 2em

.coach-image-container
  text-align: center
  width: 70%
  margin: 0 auto

.coach-image
  border: 10px solid pink
  @include allbrow( border-radius, 50% )

.coach-name
  @include montserrat-bold( $main-text )
  padding-top: 1em

.coach-social

.coach-bio
  @include arvo-regular( $main-text )
  background-color: gray
  margin-left: 1em
  margin-right: 1em
  padding: 1em
  color: white
