.info
  background-color: white

.bubble-container
  padding-bottom: 3em

.bubble
  width: 100%
  position: relative
  padding: 1em
  background-color: #999
  color: white
  @include allbrow( border-radius, 50px )
  @include arvo-regular( $main-text )
  &:after
    content: ""
    position: absolute
    border-style: solid
    display: block
    width: 0
    z-index: 1

.bubble-down:after
  content: ""
  border-width: 25px 15px 0
  border-color: #999 transparent
  margin-left: -15px
  bottom: -25px
  left: 30%

.bubble-up:after
  content: ""
  border-width: 0px 15px 25px
  border-color: #999 transparent
  margin-left: -15px
  top: -25px
  left: 40%

.bubble-right:after
  content: ""
  border-width: 15px 0 15px 25px
  border-color: transparent #999
  margin-top: -15px
  right: -25px
  top: 60%
