.presentation
  background-color: #222
  color: white

  @include respond(all-phones)
    color: red !important

.presentation-title
  @include montserrat-bold( $presentation-title )
  letter-spacing: 0.8em
  padding-top: 6em
  padding-bottom: 1em

.presentation-info
  @include arvo-italic( $presentation-info )
  padding-bottom: 5em

.presentation-organize
  @include montserrat-regular( $presentation-organize )
  padding-bottom: 2em

.presentation-organizers
  padding-bottom: 3em
