.presentation
  background-image: url( "../img/bg.svg" )
  background-color: $salmon
  background-repeat: no-repeat
  @include respond(desktop)
    background-size: 3100px
    background-position: center
  @include respond(all-phones)
    background-size: 1700px auto
    background-position: center 1em

.presentation-image
  padding-top: 8.5em
  padding-bottom: 1em
  @include respond(all-phones)
    display: none

.presentation-title
  position: 0 -1000px

.presentation-info
  @include arvo-italic( $presentation-info )
  color: $white
  @include respond(desktop)
    padding-bottom: 2em
  @include respond(all-phones)
    padding-top: 6em
    padding-bottom: 2em

.presentation-tickets
  text-align: center
  @include respond( desktop )
    padding-bottom: 4em
  @include respond( all-phones )
    padding-bottom: 2em

.presentation-organize
  @include montserrat-regular( $presentation-organize )
  letter-spacing: $letter-spacing-discrete
  color: $white
  @include respond(desktop)
    padding-bottom: 2em
  @include respond(all-phones)
    padding-bottom: 1em

.presentation-organizers
  @include respond(desktop)
    padding-bottom: 3.5em
  @include respond(all-phones)
    padding-bottom: 1em

.presentation-organizer
  &:first-child
    padding-right: 2em

.presentation-organizer-image
  @include respond(desktop)
    width: 8em
  @include respond(all-phones)
    width: 5em
