/*---COLORS-----------------------------------------------------------*/
$salmon: #F47C64;
$emerald: #56CC91;
$green: #56A880;
$red: #AF3114;
$blood: #932B2B;
$gray: #B3B3B3;
$black: #3C3C3B;
$header-black: #1A1A1A;
$white: white;
$bubble-white: #F2F2F2;
$wine: #7F2040;
$gray-text: #666666;

/*---MIXINGS----------------------------------------------------------*/
@mixin allbrow( $property, $value... ) {
  -webkit-#{$property}:$value;
  -moz-#{$property}:$value;
  -ms-#{$property}:$value;
  -o-#{$property}:$value;
  #{$property}:$value;
}

/*---FONTS------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@mixin montserrat-regular( $size ) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $size;
}
@mixin montserrat-bold( $size ) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: $size;
}

@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic);
@mixin arvo-regular( $size ) {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: normal;
  font-size: $size;
}
@mixin arvo-italic( $size ) {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: italic;
  font-size: $size;
}

/*---FONT SIZES-------------------------------------------------------*/
$navigation-item: 0.7em;
$navigation-item-letter-spacing: 0.2em;

$presentation-title: 2em;
$presentation-info: 1em;
$presentation-organize: 0.7em;

$section-title: 1.2em;
$section-info: 1em;
$letter-spacing-discrete: 0.15em;

$bubble-title: 1.8em;

$program-title: 1.5em;
$program-schedule-day: 1.2em;

$coach-name: 1.2em;

$main-text: 0.95em;
