%html{ lang: "es" }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1.0", name: "viewport" }
    %meta{ content: "Game Jam ODB", name: "title" }
    %meta{ content: "Game Jam, Global Game Jam, Córdoba, Andalucía, España, videojuegos, 48 horas, desarrollo", name: "keywords" }
    %meta{ content: "Primera Game Jam de Córdoba (España) en la que podrás desarrollar tu propio videojuego en 48 horas y conocer gente del sector.", name: "description" }
    %meta{ content: "ES-CO", name: "geo.region" }
    %meta{ content: "http://www.gamejamodb.com/img/promo.png", property: "og:image" }
    %meta{ content: "Game Jam ODB", property: "og:title" }
    %meta{ content: "Game Jam ODB", property: "og:site_name" }
    %meta{ content: "Desarrolla tu propio videojuego en 48 horas en Córdoba (España)", property: "og:description" }
    %meta{ content: "http://www.gamejamodb.com", property: "og:url" }
    %link{ type: "text/css", rel: "stylesheet", media: "all", href: "css/application.min.css" }
    %link{ rel: "shortcut icon", href: "img/favicon.ico" }
    %script{ type: "text/javascript", src: "js/jquery-2.0.2.min.js" }
    %script{ type: "text/javascript", src: "js/jquery-ui.min.js" }
    %script{ type: "text/javascript", src: "js/application.min.js" }
    %title Game Jam ODB
  %body


    -# HEADER

    %header.section.navigation
      .row.navigation-accordion.show-on-phones.hide-on-desktop
        .navigation-accordion-left
          %img{ src: "img/logo-h.svg", alt: "Game Jam ODB" }
        .navigation-accordion-right
          %a{ "toggle-accordion" => ".navigation-menu" }
            %img{ src: "img/menu.svg" }
      .row.navigation-menu
        %span.navigation-item
          %a.navigation-link{ title: "Info", "data-scroll" => "info" }
            INFO
        %span.navigation-item
          %a.navigation-link{ title: "Participa", "data-scroll" => "tickets" }
            PARTICIPA
        %span.navigation-item
          %a.navigation-link{ title: "Programa", "data-scroll" => "program" }
            PROGRAMA
        %span.navigation-item
          %a.navigation-link{ title: "Coaches", "data-scroll" => "coaches" }
            COACHES
        %span.navigation-item
          %a.navigation-link{ title: "Organización", "data-scroll" => "organizers" }
            ORGANIZACIÓN
        %span.navigation-item
          %a.navigation-link{ title: "FAQ", "data-scroll" => "faq" }
            FAQ


    -# PRESENTATION

    %main
      %section.section.presentation#presentation
        .row
          %h1.presentation-title
            GAME JAM ODB
          .presentation-image
            %img{ src: "img/logo.svg" }
          .presentation-info
            %p
              Primera Game Jam en Córdoba (España)
            %p
              23-25 Enero 2015
          .presentation-tickets
            %a.button{ href: "http://gamejamodb2015.eventbrite.es", title: "Reserva tus entradas en Eventbrite.", target: "_blank" }
              ENTRADAS
          .presentation-organize
            ORGANIZA
          .row.presentation-organizers
            %span.presentation-organizer
              %img.presentation-organizer-image{ src: "img/dd-logo-negativo.svg", alt: "Devs&Dungeons organizador de Game Jam ODB" }
            %span.presentation-organizer
              %img.presentation-organizer-image{ src: "img/cosfera-logo-negativo.svg", alt: "coSfera organizador de Game Jam ODB" }


      -# INFO SECTION

      %section#info.section.info
        .row
          %h2.section-title
            ¿QUÉ ME ESTÁS CONTAINER?
          %p.section-info
            Pues eso, como una hackaton pero de videojuegos y a nuestro rollo.
          .row
            .four.columns
              .row.bubble-container
                .bubble.bubble-down
                  %h3.bubble-title
                    CUÁNDO
                  %p.bubble-info
                    %strong.bubble-info-big-dates.bubble-strong-text
                      23, 24 y 25
                    %strong.bubble-strong-text
                      de ENERO
                    de 2015. Desde las 17h del viernes hasta las 17h del domingo. ¡Un total de 48 horas!
              .row.bubble-container
                .bubble.bubble-right
                  %h3.bubble-title
                    DÓNDE
                  %p.bubble-info
                    %strong.bubble-info-big-dates
                      %a.main-text-link{ href: "https://www.google.com/maps?ll=37.887577,-4.784364&z=15&t=m&hl=es-ES&gl=US&mapclient=embed&cid=13360638128305817413", title: "Cómo llegar a coSfera", target: "_blank" }
                        coSfera
                    %strong.bubble-info-big-location.bubble-strong-text
                      Avda. Cervantes 6
                    Coworking situado en el centro de la ciudad y cerca de las estaciones de tren y autobuses.
                    (Córdoba, España)
            .seven.columns.push_one
              .row.bubble-container
                .bubble.bubble-down
                  %h3.bubble-title
                    QUÉ ES GAME JAM ODB
                  %p.bubble-info
                    Juntar
                    %strong.bubble-strong-text
                      apasionad@s
                    del mundillo con el objetivo de
                    %strong.bubble-strong-text
                      crear videojuegos con una temática común en 48 horas.
                    Se trata de un evento no competitivo dirigido a aficionad@s y profesionales del desarrollo de videojuegos,
                    en el que podrás poner a prueba tus habilidades, aprender de los demás, y sobre todo, divertirte.
                  .bubble-image
                    %img{ src: "img/gamejam.svg" }
                  %p.bubble-info
                    Los participantes pueden ser
                    %strong.bubble-strong-text
                      programadores, grafistas, o compositores.
                    Contaremos con un grupo de
                    %strong.bubble-strong-text
                      coaches
                    que estarán a vuestra disposición para resolver todas las dudas que os surjan durante el proceso de desarrollo.
                  %p.bubble-info
                    Los coaches actuarán también de jurado y entregarán premios simbólicos a modo de reconocimiento al MEJOR JUEGO, MEJOR CONCEPTO,
                    MEJORES GRÁFICOS, MEJOR SONIDO, y la MENCIÓN ESPECIAL DEL PÚBLICO.
          .row
            .bubble.bubble-up
              %h3.bubble-title
                COMPIS DE GLOBAL GAME JAM
              .row
                .six.columns
                  %p.bubble-info
                    %strong.bubble-strong-text
                      Game Jam ODB forma parte de
                      %a.main-text-link{ href: "http://www.globalgamejam.org", title: "Página de Global Game Jam", target: "_blank" }
                        Global Game Jam,
                    un evento internacional celebrado los días 23, 24 y 25 de enero que reune una cantidad
                    ingente de
                    %strong.bubble-strong-text
                      participantes de todo el mundo.
                    Esto quiere decir que al mismo tiempo que desarrollas
                    tu videojuego, ¡miles de personas repartidas por el planeta estarán haciendo lo mismo!
                .six.columns
                  %p.bubble-info
                    Y lo que es mejor, podrás subir tu videojuego
                    a la página oficial de Global Game Jam para que todo el mundo pueda probarlo.
                  %p.bubble-info
                    Desde Global Game Jam se encargan además de imponer la temática que deben compartir todos los juegos.
          %hr.invisible-section-hr


      -# TICKETS SECTIONS

      %section#tickets.section
        .row
          %h2.section-title.neutral-section-title
            ¡QUIERO PARTICIPAR!
          %p.section-info.neutral-section-info
            ¡Excelente decisión! Deja que te contemos qué debes hacer...
          %div
            .row.tickets-row
              .four.columns.tickets-container
                .tickets-step-index
                  1
                .tickets-step-title
                  ELIGE TU ROL
                %p.tickets-step-info
                  Programador, grafista o compositor. Según tus habilidades tendrás que decirnos
                  con qué rol vas a participar para hacer los grupos de forma equilibrada.
              .eight.columns.tickets-roles.tickets-container
                %img{ src: "img/roles.svg", alt: "Programador, grafista, compositor. ¿Con cuál te quedas?" }
            .row.tickets-row
              .four.columns.early-bird.show-on-desktop.hide-on-phones.tickets-container
                %img.early-bird-image{ src: "img/earlybird.svg", alt: "¡Corre y reserva tu entrada mientras dura el periodo Earlybird!" }
                %a.button{ href: "http://gamejamodb2015.eventbrite.es", title: "Reserva tus entradas en Eventbrite.", target: "_blank" }
                  ENTRADAS
              .four.columns.tickets-container.tickets-container
                .tickets-step-index
                  2
                .tickets-step-title
                  RESERVA
                %p.tickets-step-info
                  %a.main-text-link{ href: "http://gamejamodb2015.eventbrite.es", title: "Reserva tus entradas en Eventbrite.", target: "_blank" }
                    Reserva
                  tus entradas a través de la plataforma de Eventbrite que hemos habilitado. Ahora mismo tenemos entradas Earlybird
                  pero el mes que viene quién sabe, ¡date prisa!
              .four.columns.early-bird.show-on-phones.hide-on-desktop.tickets-container
                %img.early-bird-image{ src: "img/earlybird.svg" }
                .button
                  ENTRADAS
              .four.columns.tickets-container
                .tickets-step-index
                  3
                .tickets-step-title
                  REGÍSTRATE
                %p.tickets-step-info
                  %a.main-text-link{ href: "http://globalgamejam.org/2015/jam-sites/game-jam-odb", title: "Regístrate en la página de Global Game Jam.", target: "_blank" }
                    Regístrate
                  en la página de Global Game Jam. Tienes hasta el mismo día de la jam para hacerlo, pero es
                  indispensable para poder participar a nivel global y subir tu juego.
          %hr.invisible-section-hr


      -# PROGRAM SECTION

      %section#program.section.program
        .row
          %h2.section-title
            PROGRAMA
          %p.section-info.program-section-info
            Cómo será este estupendo fin de semana, paso a paso.
          .row.program-container
            .seven.columns.program-schedule
              %h3.program-schedule-title
                HORARIO
              .program-schedule-info
                %p
                  Este horario es provisional, según vayamos confirmando comidas patrocinadas y charlas de los coaches se irán
                  realizando algunos cambios.
                %div
                  .program-schedule-day
                    VIERNES 23 ENERO
                  %hr
                  %ul.program-schedule-list
                    %li
                      %span.program-schedule-list-hour
                        16:00 -
                      Check in.
                    %li
                      %span.program-schedule-list-hour
                        17:00 -
                      Presentación, normas, y formación de equipos.
                    %li
                      %span.program-schedule-list-hour
                        18:00 -
                      Anuncio del tema e inicio de Game Jam ODB.
                    %li
                      %span.program-schedule-list-hour
                        DESARROLLO A TOPE.
                    %li
                      %span.program-schedule-list-hour
                        02:00 -
                      Cierre de coSfera.
                %div
                  .program-schedule-day
                    SÁBADO 24 ENERO
                  %hr
                  %ul.program-schedule-list
                    %li
                      %span.program-schedule-list-hour
                        09:00 -
                      Apertura de coSfera y desayuno.
                    %li
                      %span.program-schedule-list-hour
                        DESARROLLO A TOPE.
                    %li
                      %span.program-schedule-list-hour
                        02:00 -
                      Cierre de coSfera.
                %div
                  .program-schedule-day
                    DOMINGO 25 ENERO
                  %hr
                  %ul.program-schedule-list
                    %li
                      %span.program-schedule-list-hour
                        09:00 -
                      Apertura de coSfera y desayuno.
                    %li
                      %span.program-schedule-list-hour
                        ÚLTIMA ETAPA DE DESARROLLO.
                    %li
                      %span.program-schedule-list-hour
                        17:00 -
                      Subida de juegos a la página de Global Game Jam.
                    %li
                      %span.program-schedule-list-hour
                        17:00 a 19:00 -
                      Momento de relax para probar los juegos.
                    %li
                      %span.program-schedule-list-hour
                        19:00 -
                      Entrega de premios.
                    %li
                      %span.program-schedule-list-hour
                        20:00 -
                      Fin de Game Jam ODB.
            .five.columns
              .program-details
                %h3.program-details-title
                  QUÉ TRAER
                .program-details-container
                  %img{ src: "img/ticket.svg", alt: "Entrada de Eventbrite" }
                  %p.program-details-info-big
                    %strong
                      Entrada de Eventbrite
                .program-details-container
                  %img{ src: "img/computer.svg", alt: "Equipo y herramientas de trabajo" }
                  %p.program-details-info-big
                    %strong
                      Equipo y herramientas de trabajo
                .program-details-container
                  %img{ src: "img/headphones.svg", alt: "Auriculares" }
                  %p.program-details-info-big
                    %strong
                      Auriculares
                  %p.program-details-info
                    (para no molestar al resto de participantes)
              .program-details
                %h3.program-details-title
                  COMIDA
                %p.program-details-info
                  Con tu entrada tienes
                  %strong
                    incluidos los desayunos.
                  Y no solo eso, estamos buscando patrocinio para todas las comidas y cenas. ¡Estad atentos!
              .program-details
                %h3.program-details-title
                  DORMIR
                %p.program-details-info
                  ¿Vienes de fuera? Estamos buscando convenios que nos ofrezcan precios especiales con alojamientos cercanos.
                  %a.program-link{ href: "mailto:devsdungeons@gmail.com", title: "Escríbenos y te ayudaremos a buscar alojamiento." }
                    Escríbenos
                  y te echaremos una mano.
          %hr.invisible-section-hr


      -# COACHES SECTION

      %section#coaches.section
        .row
          %h2.section-title.neutral-section-title
            COACHES
          %p.section-info.neutral-section-info
            Durante el fin de semana diferentes figuras del sector pulularán a tu alrededor para poder iluminarte con su sabiduría en caso de atasco.
            También será el grupo encargado de hacer de jurado al final del evento.
          .row.coaches
            .four.columns.coach
              .coach-image-container
                %img.coach-image{ src: "img/coach-programmer.svg" }
              .coach-name
                UNKNOWN
              .social-links
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
              -#.coach-bio
            .four.columns.coach
              .coach-image-container
                %img.coach-image{ src: "img/coach-artist.svg" }
              .coach-name
                UNKNOWN
              .social-links
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
              -#.coach-bio
            .four.columns.coach
              .coach-image-container
                %img.coach-image{ src: "img/coach-composer.svg" }
              .coach-name
                UNKNOWN
              .social-links
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
              -#.coach-bio
          .row
            .four.columns.push_two.coach
              .coach-image-container
                %img.coach-image{ src: "img/coach-artist.svg" }
              .coach-name
                UNKNOWN
              .social-links
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
              -#.coach-bio
            .four.columns.coach.last-coach
              .coach-image-container
                %img.coach-image{ src: "img/coach-programmer.svg" }
              .coach-name
                UNKNOWN
              .social-links
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
                %a.social-link
                  %img.social-link-image{ src: "img/social-unknown.svg" }
              -#.coach-bio
          %hr.invisible-section-hr


      -# TWITTER SECTION
      %section.section.twitter
        .row
          .section-title
            %a{ href: "http://www.twitter.com/gamejamodb", title: "Twitter de Game Jam ODB", target: "_blank" }
              %img{ src: "img/twitter.svg", alt: "Twitter de Game Jam ODB" }
          .twitter-user
            %a{ href: "http://www.twitter.com/gamejamodb", title: "Twitter de Game Jam ODB", target: "_blank" }
              @gamejamODB
          .row
            .five.columns.centered
              %p.twitter-info
                Usa el hashtag local
                %strong
                  %a{ href: "https://twitter.com/hashtag/gamejamODB", title: "Utiliza el hashtag gamejamODB", target: "_blank" }
                    = "#gamejamODB"
                y el global
                %strong
                  %a{ href: "https://twitter.com/hashtag/GGJ15", title: "Utiliza el hashtag GGJ15", target: "_blank" }
                    = "#GGJ15"
                tu ayuda para difundir el evento es muy importante.
          .row
            %h2.section-title.twitter-title
              ¿DE VERAS NO TE HEMOS CONVENCIDO YA?
            %a.button{ href: "http://gamejamodb2015.eventbrite.es", title: "Reserva tus entradas en Eventbrite.", target: "_blank" }
              ENTRADAS
          %hr.invisible-section-hr


      -# ORGANIZERS SECTION

      %section#organizers.section
        .row
          %h2.section-title.neutral-section-title
            ORGANIZACIÓN
          %p.section-info.neutral-section-info
            Pero... ¿de dónde sale todo esto?
          .row
            .six.columns.organizer-container
              %img{ src: "img/dd-logo.svg", alt: "Devs&Dungeons organizador de Game Jam ODB" }
              .social-links
                %a.social-link{ href: "http://www.devsdungeons.com", title: "Web de Devs&Dungeons", target: "_blank" }
                  %img.social-link-image{ src: "img/social-web.svg", alt: "Web de Devs&Dungeons" }
                %a.social-link{ href: "mailto:devsdungeons@gmail.com", title: "Correo de Devs&Dungeons" }
                  %img.social-link-image{ src: "img/social-mail.svg", alt: "Mail de Devs&Dungeons" }
                %a.social-link{ href: "http://www.facebook.com/DevsDungeons", title: "Devs&Dungeons en Facebook", target: "_blank" }
                  %img.social-link-image{ src: "img/social-fb.svg", alt: "Facebook de Devs&Dungeons" }
                %a.social-link{ href: "http://www.twitter.com/DevsDungeons", title: "Devs&Dungeons en Twitter", target: "_blank" }
                  %img.social-link-image{ src: "img/social-tw.svg", alt: "Twitter de Devs&Dungeons" }
              .organizer-bio
                %p
                  Devs&Dungeons es una
                  %strong.organizer-bio-strong
                    comunidad de desarrolladores
                  de videojuegos que nace de la necesidad de
                  %strong.organizer-bio-strong
                    fomentar la industria local.
                  Nuestro objetivo es
                  %strong.organizer-bio-strong
                    incentivar
                  a la gente a crear sus propios desarrollos y hacerles perder el miedo a introducirse a este medio, para ello realizamos
                  %strong.organizer-bio-strong
                    charlas, talleres y quedadas
                  con el fin de compartir inquietudes,
                  %strong.organizer-bio-strong
                    formar sinergias y conocer a otros desarrolladores.
            .six.columns.organizer-container
              %img{ src: "img/cosfera-logo.svg", alt: "coSfera organizador de Game Jam ODB" }
              .social-links
                %a.social-link{ href: "http://www.cosfera.es", title: "Web de coSfera", target: "_blank" }
                  %img.social-link-image{ src: "img/social-web.svg", alt: "Web de coSfera" }
                %a.social-link{ href: "mailto:hola@cosfera.es", title: "Correo de coSfera" }
                  %img.social-link-image{ src: "img/social-mail.svg", alt: "Mail de coSfera" }
                %a.social-link{ href: "http://www.facebook.com/coSfera", title: "coSfera en Facebook", target: "_blank" }
                  %img.social-link-image{ src: "img/social-fb.svg", alt: "Facebook de coSfera" }
                %a.social-link{ href: "http://www.twitter.com/coSfera", title: "coSfera en Twitter", target: "_blank" }
                  %img.social-link-image{ src: "img/social-tw.svg", alt: "Twitter de coSfera" }
              .organizer-bio
                %p
                  coSfera es el
                  %strong.organizer-bio-strong
                    primer espacio de coworking de Córdoba,
                  un espacio de trabajo compartido, una alternativa a la oficina clásica y a trabajar en casa,
                  %strong.organizer-bio-strong
                    para profesionales libres y microempresas,
                  que podrían trabajar desde cualquier sitio, pero que prefieren
                  hacerlo
                  %strong.organizer-bio-strong
                    acompañados
                  y de una forma más productiva en coSfera.
          %hr.invisible-section-hr


      -# FAQ SECTION

      %section#faq.section.faq
        .row
          %h2.section-title
            FAQ
          %p.section-info
            ¿Tienes alguna duda? Vamos a intentar resolverlas. Si no encuentras lo que buscas, pregunta en nuestro
            %a.white-link{ href: "https://groups.google.com/d/forum/devsdungeonsggj", title: "Grupo de Google de Game Jam ODB", target: "_blank" }
              grupo de Google
            , o mándanos un correo a
            %a.white-link{ href: "mailto:devsdungeons@gmail.com", title: "Envía tus dudas a devsdungeons@gmail.com" }
              devsdungeons@gmail.com.
          .row
            .six.columns.faq-column
              .faq-container
                %ul.faq-list
                  %li.faq-list-question
                    ¿Qué nivel debo tener para participar?
                  %p.faq-list-response
                    No hay limitaciones en este sentido, mientras puedas elegir un rol (programador, grafista o compositor) te
                    animamos a que lo intentes :)
                  %li.faq-list-question
                    Mis habilidades no encajan en ningún rol, ¿puedo participar?
                  %p.faq-list-response
                    En principio los roles más necesarios son programador, grafista y compositor. Si no te ajustas a ninguno y aún así
                    te gustaría participar en Game Jam ODB, mandanos un correo a
                    %a.main-text-link{ href: "mailto:devsdungeons@gmail.com", title: "Envía tus dudas a devsdungeons@gmail.com" }
                      devsdungeons@gmail.com.
                  %li.faq-list-question
                    ¿Qué herramientas de trabajo puedo llevar?
                  %p.faq-list-response
                    Todo el que necesites y seas capaz de transportar: portatil, sobremesa, teclado, tableta gráfica...
                  %li.faq-list-question
                    ¿Qué framework de desarrollo de videojuegos puedo utilizar?
                  %p.faq-list-response
                    El que tú sepas utilizar, si eres programador recuerda especificar cuál al comprar tu entrada para que podamos colocarte con
                    compañeros que usen el mismo framework.
                  %li.faq-list-question
                    ¿Puedo utilizar assets gráficos y de sonido de fuentes externa?
                  %p.faq-list-response
                    Sí. La idea es que tu equipo sea autosuficiente y no los necesitéis. En el caso de usarlos, tu equipo no podrá optar a los
                    premios de la categoría correspondiente a esos assets.
                  %li.faq-list-question
                    ¿Los assets y el videojuego que haga son de mi propiedad?
                  %p.faq-list-response
                    Por supuesto. Tanto los assets como el juego hagáis tu grupo y tu son de vuestra propiedad en todo momento.
                  %li.faq-list-question
                    ¿Puedo traer material ya hecho?
                  %p.faq-list-response
                    No te lo vamos a impedir, pero esa no es la filosofía de una Game Jam. La idea es que pruebes a desarrollar tu juego desde 0 en 48h.
                  %li.faq-list-question
                    ¿Puedo traer mi propio grupo formado?
                  %p.faq-list-response
                    No, los grupos los forma la organización teniendo en cuenta las habilidades de la gente para hacer un reparto equitativo
                    de los recursos humanos. ¡Conocer gente nueva forma parte de la experiencia!
                  %li.faq-list-question
                    ¿Habrá premios?
                  %p.faq-list-response
                    Sí, habrá una entrega de premios el domingo por la tarde para reconocer simbólicamente el MEJOR JUEGO, MEJOR CONCEPTO,
                    MEJORES GRÁFICOS, MEJOR SONIDO, y la MENCIÓN ESPECIAL DEL PÚBLICO. Recordamos que el evento no es competitivo y que
                    la finalidad es aprender y pasarlo bien.
                  %li.faq-list-question
                    ¿Hay requisitos para optar a los premios?
                  %p.faq-list-response
                    Si. Todos los juegos deben cumplir los siguientes requisitos para optar a cualquiera de los premios:
                    %ul.faq-req
                      %li.faq-req-item
                        Respetar la temática elegida por la organización de Global Game Jam.
                      %li.faq-req-item
                        Estar subido a la plataforma de Global Game Jam en el horario establecido.
                      %li.faq-req-item
                        Estar terminado y tener al menos una pantalla de inicio, un nivel jugable, y una pantalla de game over.
                      %li.faq-req-item
                        Los juegos que utilicen assets externos no podrán optar a los premios de la categoría correspondiente.
                      %li.faq-req-item
                        El jurado debe ser capaz de jugar a los juegos independientemente de
                        la plataforma de desarrollo, encárgate de proporcionar el hardware o emulador necesario.
            .six.columns.faq-column
              .faq-container.right-faq-container
                %ul.faq-list
                  %li.faq-list-question
                    ¿Hay que cumplir algunas normas en el local?
                  %p.faq-list-response
                    Solo imponemos unas cuantas normas de comportamiento que estamos seguros que no te costará nada de nada cumplir:
                    %ul.faq-req
                      %li.faq-req-item
                        Respeta el ritmo de trabajo de tus compañeros y fomenta un ambiente de trabajo agradable.
                      %li.faq-req-item
                        Manten un comportamiento cívico en coSfera. ¡Si nos portamos mal y les ensuciamos el local no querrán repetir!
                      %li.faq-req-item
                        Por la noche debemos procurar no hacer ruido en las inmediaciones para no molestar a los vecinos.
                      %li.faq-req-item
                        Prohibido estresarse. Obligatorio pasarlo bien y aprender.
                  %li.faq-list-question
                    ¿Qué es un coach?
                  %p.faq-list-response
                    Los
                    %a.main-text-link{ "data-scroll" => "coaches" }
                      coaches
                    son profesionales del sector de los videojuegos que te acompañarán durante el fin de semana para ayudarte
                    a resolver atascos de diferente índole en el proceso de desarrollo. También ejercerán de jurado de cara a los premios.
                    Aprovecha para preguntarles lo que quieras y hablar con ellos, es una gran oportunidad tenerlos entre nosotros y obtener
                    información del sector de primera mano.
                  %li.faq-list-question
                    ¿Cómo se llega a coSfera?
                  %p.faq-list-response
                    La dirección es
                    %a.main-text-link{ href: "https://www.google.com/maps?ll=37.887577,-4.784364&z=15&t=m&hl=es-ES&gl=US&mapclient=embed&cid=13360638128305817413", title: "Cómo llegar a coSfera", target: "_blank" }
                      Avda. Cervantes 6 (Córdoba, España).
                    El local se encuentra dentro de una zona de vecinos.
                  %li.faq-list-question
                    ¿Se puede estacionar en las inmediaciones del lugar para descargar equipo?
                  %p.faq-list-response
                    Para aparcar hay que pagar parquímetro dentro del horario establecido, no nos responsabilizamos de los estacionamientos
                    en doble fila ;) De todos modos te invitamos a echar un vistazo al
                    %a.main-text-link{ href: "https://www.google.com/maps?ll=37.887577,-4.784364&z=15&t=m&hl=es-ES&gl=US&mapclient=embed&cid=13360638128305817413", title: "Cómo llegar a coSfera", target: "_blank" }
                      mapa
                    por si quieres hacerte una idea de las
                    posibilidades antes de venir.
                  %li.faq-list-question
                    ¿Puedo dejar el equipo en el local?
                  %p.faq-list-response
                    Por supuesto, no hay problema. El local cerrará por completo durante la noche y está provisto de sistema antirrobo.
                  %li.faq-list-question
                    ¿De qué servicios dispone el local?
                  %p.faq-list-response
                    Tenemos wi-fi y electricidad asegurados todo el fin de semana, cuarto de baño, pufs y zona de office con bebidas y snacks.
                  %li.faq-list-question
                    ¿Hay hoteles y restaurantes cerca?
                  %p.faq-list-response
                    coSfera está situado en el centro de la ciudad, hay hoteles y restaurantes por todas partes, pero estamos
                    trabajando para poder ofrecer todas la comidas del fin de semana y que no tengas que preocuparte.
                    Si vienes de fuera estamos negociando ofertas con alojamientos cercanos.
                  %li.faq-list-question
                    Soy alergico a _______, ¿qué opciones tengo de comida?
                  %p.faq-list-response
                    Envíanos un email a
                    %a.main-text-link{ href: "mailto:devsdungeons@gmail.com", title: "Envía tus dudas a devsdungeons@gmail.com" }
                      devsdungeons@gmail.com
                    con la información al respecto y buscaremos una solución.
                  %li.faq-list-question
                    ¿Dónde puedo sacar mi entrada?
                  %p.faq-list-response
                    Pincha
                    %a.main-text-link{ href: "http://gamejamodb2015.eventbrite.es", title: "Reserva tus entradas en Eventbrite.", target: "_blank" }
                      aquí
                    para reservar tu entrada.
          %hr.invisible-section-hr

    -# FOOTER

    %footer.section.footer
      .row
        .four.columns.footer-container
          %h3.footer-title
            CONTACTO
          %p.footer-info
            Puedes contactarnos en el
            %a.main-text-link
              grupo de Google
            que hemos habilitado para este fin o a través de nuestro
            %a.main-text-link
              email.
            También puedes seguirnos en
            %a.main-text-link
              Twitter
            y no perderte nada.
        .four.columns.footer-container
          %h3.footer-title
            ENTRADAS
          %p.footer-info
            ¿Aún te lo estás pensando? ¡Lo peor que puede pasar es que hagas tu propio videojuego!
          .footer-center
            %a.button{ href: "http://gamejamodb2015.eventbrite.es", title: "Reserva tus entradas en Eventbrite.", target: "_blank" }
              ENTRADAS
        .four.columns.footer-container
          %h3.footer-title
            COMPARTE
          %p.footer-info
            Sería ideal si nos compartes con tus amigos y nos ayudas a difundir el evento. ¡Gracias!
          .footer-center
            %a#twitter-share-button{ "data-url" =>"http://www.gamejamodb.com", "data-text" => "Game Jam ODB, la primera Game Jam de Córdoba (España)", "data-via" => "gamejamodb", "data-hashtags" => "gamejamodb" }
              %img.social-image{ src: "img/share-tw.svg" }
            %a#facebook-share-button{ "data-url" => "http://www.gamejamodb.com" }
              %img.social-image{ src: "img/share-fb.svg" }
      .row
        .made-by
          DISEÑADO Y DESARROLLADO POR
          %a.made-by-violeta{ href: "http://violetacejas.com", title: "Página web de Violeta Cejas", target: "_blank" }
            VIOLETA CEJAS
          &
          %a.made-by-fran{ href: "https://www.linkedin.com/pub/francisco-luis-aranda-garc%C3%ADa/51/374/718", title: "Linkedin de Francisco Aranda", target: "_blank" }
            FRANCISCO ARANDA
    #fb-root
