%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    %link{ type: "text/css", rel: "stylesheet", media: "all", href: "css/application.min.css" }
    %script{ type: "text/javascript", src: "js/jquery-2.0.2.min.js" }
    %script{ type: "text/javascript", src: "js/application.min.js" }
    %title Game Jam ODB
  %body
    %header.section.navigation
      .row
        %span.navigation-item
          %a.navigation-link{ title: "Info", "data-scroll" => "info" }
            INFO
        %span.navigation-item
          %a.navigation-link{ title: "Programa", "data-scroll" => "program" }
            PROGRAMA
        %span.navigation-item
          %a.navigation-link{ title: "Entradas", "data-scroll" => "tickets" }
            ENTRADAS
        %span.navigation-item
          %a.navigation-link{ title: "Coaches", "data-scroll" => "coaches" }
            COACHES
        %span.navigation-item
          %a.navigation-link{ title: "Organización", "data-scroll" => "organizers" }
            ORGANIZACIÓN
    %main
      %section.section.presentation#presentation
        .row
          .presentation-title
            GAME JAM ODB
          .presentation-info
            %div
              Primera Game Jam en Córdoba (España)
            %div
              23-25 Enero 2015
          .presentation-organize
            ORGANIZA
          .row.presentation-organizers
            %a.two.columns.push_four{ href: "http://www.devsdungeons.com", title: "Devs&Dungeons", target: "_blank" }
              %img{ src: "img/nic1.jpg", alt: "Devs&Dungeons", title: "Devs&Dungeons" }
            %a.two.columns{ href: "http://www.cosfera.com", title: "coSfera", target: "_blank" }
              %img{ src: "img/nic1.jpg", alt: "coSfera", title: "coSfera" }
      %section#info.section.info
        .row
          .section-title
            ¿QUÉ ME ESTÁS CONTAINER?
          .section-info
            Pues eso, como una hackaton pero de videojuegos y a nuestro rollo.
          .row
            .four.columns
              .row.bubble-container
                .bubble.bubble-down
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum, mi
                  mi tempor eros, sed efficitur lectus enim pellentesque lectus.
              .row.bubble-container
                .bubble.bubble-right
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum, mi
                  mi tempor eros, sed efficitur lectus enim pellentesque lectus.
            .seven.columns.push_one
              .row.bubble-container
                .bubble.bubble-down
                  %div
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum, mi
                    mi tempor eros, sed efficitur lectus enim pellentesque lectus. Vivamus accumsan mi augue, a semper arcu viverra sit amet. Suspendisse ultrices, magna sed
                    congue posuere, ligula tortor aliquet enim, eu varius risus erat ac tortor. Ut facilisis scelerisque neque id placerat. Donec et nibh sed leo ultrices varius
                    non a neque. Ut vel turpis ornare, pellentesque velit non, luctus eros.
                  %div
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum,
                    mi mi tempor eros, sed efficitur lectus enim pellentesque lectus. Vivamus accumsan mi augue, a semper arcu viverra sit amet. Suspendisse ultrices, magna
                    sed congue posuere, ligula tortor aliquet enim, eu varius risus erat ac tortor. Ut facilisis scelerisque neque id placerat. Donec et nibh sed leo ultrices
                    varius non a neque. Ut vel turpis ornare, pellentesque velit non, luctus eros.
          .row
            .bubble.bubble-up
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum,
              mi mi tempor eros, sed efficitur lectus enim pellentesque lectus. Vivamus accumsan mi augue, a semper arcu viverra sit amet. Suspendisse ultrices, magna
              sed congue posuere, ligula tortor aliquet enim, eu varius risus erat ac tortor. Ut facilisis scelerisque neque id placerat. Donec et nibh sed leo ultrices
              varius non a neque. Ut vel turpis ornare, pellentesque velit non, luctus eros.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum,
              mi mi tempor eros, sed efficitur lectus enim pellentesque lectus. Vivamus accumsan mi augue, a semper arcu viverra sit amet. Suspendisse ultrices, magna
              sed congue posuere, ligula tortor aliquet enim, eu varius risus erat ac tortor. Ut facilisis scelerisque neque id placerat. Donec et nibh sed leo ultrices
              varius non a neque. Ut vel turpis ornare, pellentesque velit non, luctus eros.
          %hr.section-hr
      %section#tickets
        .row
          .section-title
            ¡QUIERO PARTICIPAR!
          .section-info
            ¡Excelente decisión! Deja que te contemos que debes hacer...
          %hr.section-hr
      %section#coaches.section.coaches
        .row
          .section-title
            COACHES
          .section-info
            Diferentes profesionales del sector te iluminarán con su sabiduria.
          .row
            .four.columns
              .coach-image-container
                %img.coach-image{ src: "img/nic2.jpg" }
              %p.coach-name
                NICOLAS CAGE
              .coach-social
              .coach-bio
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum,
                mi mi tempor eros, sed efficitur lectus enim pellentesque lectus.
            .four.columns
              .coach-image-container
                %img.coach-image{ src: "img/nic2.jpg" }
              %p.coach-name
                NICOLAS CAGE
              .coach-social
              .coach-bio
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum,
                mi mi tempor eros, sed efficitur lectus enim pellentesque lectus.
            .four.columns
              .coach-image-container
                %img.coach-image{ src: "img/nic2.jpg" }
              %p.coach-name
                NICOLAS CAGE
              .coach-social
              .coach-bio
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem ut diam aliquet iaculis. Suspendisse ornare, urna vitae elementum elementum,
                mi mi tempor eros, sed efficitur lectus enim pellentesque lectus.
          %hr.section-hr
      %section#organizers.section.organizers
        .row
          .section-title
            ORGANIZACIÓN
          .section-info
            Pero... ¿de donde sale todo esto?
          .row
            .six.columns
            .six.columns
              %img{ src: "img/nic1.jpg" }
          .row
            .six.columns
            .six.columns
              %img{ src: "img/nic1.jpg" }
    %footer.section.footer
      .row
        .section-title
          ¿QUÉ MÁS NECESITAS?
        .section-info
          Si has llegado hasta aquí déjate de tonterias y saca ya tus entradas, es tan fácil como decir... ¡GAME JAM!
        .row
          .button
            ENTRADAS
